$primary: #425a92;

@mixin stat-width {
  width:20%;
  min-width:80px;
  text-align:right;
}
body {
  background-color:#f9f7f5;
}
.navbar {
  min-height:50px;
  padding:10px 0 5px;
  border-radius:0;
}
.fcc-logo {
  width:auto;
  height:40px;
}
.container {
  padding-left:0;
  padding-right:0;
}
.leaderboard {
  header {
    padding-left:15px;
    padding-right:15px;
  }
  .subhead {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
    display: block;
    margin: -.75em 0 -.25em;
    padding: 0;
    width:60%;
  }
  table {
    font-size:11px;
    background:white;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  }
  tr:first-child td{
    border-top:none;
  }

  td {
    &.pic {
      text-align:left;
      img {
        height:4em;
        width:auto;
      }
    }
    &.username a {
      text-transform: uppercase;
      padding-left:0.5em;
    }
    &.recent,
    &.alltime {
      @include stat-width;
      min-width:50px;
      padding-right:1em;
    }
  }

  //overrides
  tbody>tr>td {
    vertical-align:middle;
  }
  .nav-tabs>li.active>a {
    cursor:pointer;
    color:$primary;
  }
  .nav-tabs li a:focus {
    outline:none;
    text-decoration:underline;
  }


  table.sort-recent td.recent,
  table.sort-alltime td.alltime {
    font-size:1.5em;
    font-weight:500;
    color:$primary;
  }

  .sortLinks li {
    float:right;
    position:relative;
    @include stat-width;
  }
  //.sortLinks.ascending li.active:hover:after,
  .sortLinks li:after {
    content: "";
    position: absolute;
    height: 1em;
    box-sizing: border-box;
    border-top: 1em solid #aaa;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid transparent;
    left: 10%;
    top: 1.2em;
    transition: border-color 0.5s, top 0.5s;
    pointer-events:none;
  }
  //.sortLinks.descending li.active:hover:after,
  .sortLinks.ascending li.active:after {
    border-top:1em solid transparent;
    border-bottom:1em solid #aaa;
    top:0.2em;
  }
}

// ANIMATED LOADING BAR
tfoot {
  display:none;
}
.pre-load tfoot {
  display:table-row-group;
  .loading {
    position:relative;
    width:100%;
    text-align:center;
    padding:40px;
    text-transform:uppercase;
    font-weight:500;
  }
  .loading-bar {
    width: 10px;
    height: 80px;
    box-sizing:content-box;
    background: #08a;
    border-radius:3px;
    border: 2px solid #444;
    overflow:hidden;
    margin:auto;
    animation: spinning 2s 0s linear infinite;
  }
  .air {
    background:white;
    width:80px;
    height:40px;
    position:relative;
    margin-left:-35px;
    border-radius:5%;
    animation: reverse-spin 2s 0s cubic-bezier(1, -.1, 0.85, 1.3) infinite;
    transform-origin:40px 100%;
  }
}
@keyframes spinning {
  0% {   transform: rotateZ(0);  }
  100% { transform: rotateZ(180deg);  }
}

@keyframes reverse-spin {
  0% {   transform: rotateZ(0); }
  100% { transform: rotateZ(-180deg); }
}


// MEDIA QUERIES
@media (min-width:992px) {
  font-size:24px;
}
@media (min-width:480px) {
  .leaderboard table {
      font-size:14px;
  }
  .leaderboard header {
    padding-left:0;
    padding-right:0;
  }
  .container {
    padding-left:15px;
    padding-right:15px;
  }

}
